$color-primary: #000000;
$color-white: #ffffff;
$color-hover: #ff9f1a;
$bg-hover: #000000e1;
$color-second: #aaa;
$color-third : #ddd;
$bg-body: #eef5ff;
$color-border: rgba(221, 221, 221, 0.288);


$bg-transperent-1: linear-gradient(transparent, #7aacfe, #d4ddfe);
$bg-transperent-2: linear-gradient(transparent, #f6fad2, #d8f0d6);
$bg-transperent-3: linear-gradient(transparent, #fee2d9, #fff8e0);
$bg-transperent-4: linear-gradient(transparent, #9c88ff, #0097e6);
$bg-transperent-5: linear-gradient(transparent, #ef5777, #0be881);

$bg-transperent-6: linear-gradient(15deg, #b9e2ff, transparent);
$bg-transperent-7: linear-gradient(15deg, #ffe8a0, transparent);
$bg-transperent-8: linear-gradient(15deg, #ffcad3, transparent);
$bg-transperent-9: linear-gradient(15deg, #cdffeb, transparent);
$bg-transperent-10: linear-gradient(15deg, #ffc5fa, transparent);